<h1>
    Heroes</h1>

<hr>

<div class="row">

    <div id="btnAdd" class="col-md-12 text-right">

        <button [routerLink]="['/heroe', 'nuevo']" routerLinkActive="router-link-active" class="btn btn-outline-primary" type="button" name="button">
          Nuevo Heroe
      </button>

    </div>

</div>



<div class="row animated fadeIn fast">

    <div class="col-md-12">

        <div class="table-responsive">


            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col" class="text-right">Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let key of heroes | keys; let i = index">
                        <td>{{i +1}}</td>
                        <td>{{heroes[key].nombre}}</td>
                        <td>{{heroes[key].casa}}</td>

                        <td class="text-right w120">

                            <button type="button" [routerLink]="['/heroe',key]" class="btn btn-outline-success">Editar</button>

                            <button type="button" (click)="eliminar(key)" class="btn btn-outline-danger">Eliminar</button>

                        </td>
                    </tr>
                </tbody>


            </table>

            <div *ngIf="!heroes && !loading" class="alert alert-info" role="alert">
                <h4 class="alert-heading">Sin Información</h4>
                <p></p>
                <p class="mb-0">No hay mas registros</p>
            </div>


            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Cargando</h4>
                <p></p>
                <p class="mb-0">Por favor, espere...</p>
            </div>


        </div>

    </div>

</div>